{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "react",
        "flow",
        "stage-0"
    ],
    "plugins": [
        ["flow-runtime", {
          "assert": true,
          "warn": true,
          "annotate": false
        }]
    ]
}
